html{
    width: 93vw;
}


body {
    background: radial-gradient(ellipse at bottom, #022227 0%, #000000 100%);
    position: relative;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    place-items: center;
    padding: 0px;
    /* border: 4px solid gray; */
}
#portfolio {
     
    display: flex;
    /* flex-direction: column; */
    align-items: center; 
    justify-content: center;
    /* margin: 0 auto; */
    /* border: 4px solid magenta; */
}
#portfolio img{
    border-radius: 5%;
    box-shadow: -10px 10px 10px rgba(0, 255, 255, 0.379);
    margin-top: 80px;
    /* background: linear-gradient(rgba(0, 0, 0, 0.139),rgba(0, 0, 0, 0.626)); */
    /* margin-left: px; */
}
.adarsh{
    margin-left: 50px;
    margin-top: 80px;
    /* border: 5px solid wheat; */
} 
.first{
    font-size: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.second{
    font-size: 20px; 
}

body .aks{
    color: aqua;
}

.all {
    display: flex;
    perspective: 10px;
    transform: perspective(300px) rotateX(20deg);
    will-change: perspective;
    perspective-origin: center center;
    transition: all 1.3s ease-out;
    justify-content: center;
    transform-style: preserve-3d;
  }
  
  .all:hover {
    perspective: 1000px;
    transition: all 1.3s ease-in;
    transform: perspective(10000px) rotateX(0deg);
  }
  .all:hover .text {
    opacity: 1;
  }
  .all:hover > div {
    opacity: 1;
    transition-delay: 0s;
  }
  .all:hover .explainer {
    opacity: 0;
  }
  
  .left, .center, .right, .lefter, .righter {
    width: 95px;
    height: 95px;
    transform-style: preserve-3d;
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: 0 0 20px 5px rgba(100, 100, 255, 0.4);
    opacity: 0;
    transition: all 0.3s ease;
    transition-delay: 1s;
    position: relative;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #58d;
    cursor: pointer;
    background-blend-mode: color-burn;
    padding: 2px;
  }
  .left:hover, .center:hover, .right:hover, .lefter:hover, .righter:hover {
    box-shadow: 0 0 30px 10px rgba(100, 100, 255, 0.6);
    background-color: #ccf;
  }
  
  .text {
    transform: translateY(40px);
    opacity: 0;
    transition: all 0.3s ease;
    bottom: 0px;
    left: 6px;
    position: absolute;
    will-change: transform;
    color: #fff;
    text-shadow: 0 0 5px rgba(100, 100, 255, 0.6);
  }
  
  .lefter {
    transform: translateX(-60px) translateZ(-50px) rotateY(-10deg);
    background-image: url(https://cdn2.iconfinder.com/data/icons/design-thinking-9/66/57-256.png);
  }
  
  .left {
    transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
    background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/creative_draw-512.png);
  }
  
  .center {
    opacity: 1;
    background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/app_window-512.png);
  }
  
  .right {
    transform: translateX(30px) translateZ(-25px) rotateY(5deg);
    background-image: url(https://cdn3.iconfinder.com/data/icons/web-design-and-development-48/66/91-256.png);
  }
  
  .righter {
    transform: translateX(60px) translateZ(-50px) rotateY(10deg);
    background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/search-512.png);
    }
  
  .explainer {
    font-weight: 300;
    font-size: 1.4rem;
    color: #fff;
    transition: all 0.6s ease;
    width: 100%;
    height: 100%;
    background-color: #303050;
    background-image: radial-gradient(circle at center top, aqua,black);
    border-radius: 10px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 2px; */
  }
  
  .ref {
    background-color: #000;
    background-image: linear-gradient(to bottom, #d80, #c00);
    border-radius: 3px;
    padding: 7px 10px;
    position: absolute;
    font-size: 16px;
    bottom: 10px;
    right: 10px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  }
  .ref::first-letter {
    font-size: 12px;
  }

/* animation for the name */
/* .aks {
  background: linear-gradient(to bottom right, black);
  border: 0;
  border-radius: 16px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 80px;
  font-weight: 500;
  line-height: 1;
  outline: transparent;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.aks:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem wheat, .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.aks:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem wheat, .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
} */

.whole{
    padding-left: 4.5%;   /* padding for whole content to make some space for the social media icons*/
}
/* form boder design */
.form {
    background-color: aqua;
    border-radius: 5%;
    color: rgb(20, 18, 18);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 50vw;
    
        width: 50vw;
        height: 45vw;
        border: 3px solid red;
    
  }
  .form form{
      width: inherit;
  }
  /* design for the h2 headings in the whole content*/
  .h h2{
      color: aqua;
      font-size: 200%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  /* contact class for contact me for*/
.contact{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* for button in the form*/
.button{

    display: flex;
    justify-content: center;
    align-items: center;
}

/* form animation */
.form{
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.form:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.form:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
.input-button{
        position: relative;
        display: inline-block;
        padding: 10px 20px;
        margin: 0.5em 0;
        color: #03e9f4;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.5s;
        letter-spacing: 4px;
        overflow: hidden;
        margin-right: 50px;
        background-color: transparent;    
}
.input-button:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
.input-box{
    border-radius: 8px;
    padding-left: 5px; /* class for the input boxes in the form*/
}
/* Social media Icon bar*/
.icon-bar {
    position: fixed;
    top: 50%;
    left: -0.01%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }
  .linkedin {
    background: #007bb5;
    color: white;
  }
  .instagram{
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.instagram:hover {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    background: white;
    font-size: 20px;
    background-color: #000;
  }
  .github{
      background-color: gray;
      /* border: 1px solid white;
      border-color: white; */
  }
  .github:hover{
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    background: white;
    font-size: 20px;
    background-color: #000;
  }
